[submodule "zsh/custom/plugins/zsh-autosuggestions"]
	path = zsh/custom/plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "zsh/custom/themes/powerlevel10k"]
	path = zsh/custom/themes/powerlevel10k
	url = git@github.com:romkatv/powerlevel10k.git
[submodule "tmux/tmux-powerline"]
	path = tmux/tmux-powerline
	url = https://github.com/erikw/tmux-powerline.git
[submodule "zsh/custom/plugins/fzf-it"]
	path = zsh/custom/plugins/fzf-it
	url = git@github.com:micakce/fzf-it.git
[submodule "tmux/plugins/tmux-powerline"]
	path = tmux/plugins/tmux-powerline
	url = git@github.com:micakce/tmux-powerline.git
[submodule "zsh/custom/plugins/fzf-tab"]
	path = zsh/custom/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule "zsh/custom/plugins/forgit"]
	path = zsh/custom/plugins/forgit
	url = https://github.com/wfxr/forgit.git
[submodule "zsh/custom/plugins/zsh-vi-mode"]
	path = zsh/custom/plugins/zsh-vi-mode 
	url = https://github.com/jeffreytse/zsh-vi-mode
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
